<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>webpack page more</title>
  <link rel="stylesheet" href="/assets/css/vendors">
  <link  href="/assets/css/app?_inline" rel="stylesheet">
</head>

<body>
  <h1>vue 引入演示</h1>
  <div id="app"></div>
  <a href="jquery.html">Jquery应用</a>
</body>

</html>