<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>webpack page more</title>
</head>

<body>
  <h1>vue 引入演示</h1>
  <div id="app"></div>
  <a href="jquery.html">Jquery应用</a>
  <ol>
    <h3>htmlWebpackPlugin 参数<%= htmlWebpackPlugin %></h3>
    <% for(var key in htmlWebpackPlugin){ %>

      <li>
        <strong><%= key %>:</strong>
        <ul>
          <% if(typeof htmlWebpackPlugin[key] =='object' ){ %>
            <!--输出-->
            <% for(var k in htmlWebpackPlugin[key]) {%>
              <li>
                <strong><%= k %></strong>:

                <%= JSON.stringify(htmlWebpackPlugin[key][k] )%>

              </li>

              <% }%>
                <% }%>
        </ul>
      </li>
      <%}%>
  </ol>
</body>

</html>