<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>jquery 应用</title>
  <link rel="stylesheet" href="vendors">
  <link rel="stylesheet" href="jquery?_inline">
    <!--嵌入页面-->
   <script async src="https://cdn.ampproject.org/v0.js"></script> 
</head>

<body>
  <h1>Jquer应用 123</h1>
  <div id="app"></div>
  <!--嵌入图片-->
  <img src="/assets/img/logo_green.png" alt="">
  <a href="index.html">vue应用</a>
</body>

</html>