//容器 bs
@mixin container-bs() {
    // container
    .container {
        max-width: map-get($WIN, xl)+px;
        padding-right: $CMargin;
        padding-left: $CMargin;
        margin-right: auto;
        margin-left: auto;
    } //图片不能超过自己的真实大小，会失真
    .img--fluid {
        max-width: 100%;
    } //text
    .text--left {
        text-align: left;
    }
    .text--right {
        text-align: right;
    }
    .text--center {
        text-align: center;
    }
    //去列表样式
    .list--unstyled{
        padding: 0;
        list-style: none;
    }
    
    .disabled,:disabled{
        opacity: 0.65;
    }
    //不允许点中
    .disabled{
        pointer-events: none;
    }
}