//默认常量
//手机,小屏幕比例,中屛,屏幕
$WIN:(sm:562, md:768, lg:992, xl:1200);
// map-get($arr,key) map 数组调用
$IE:10; //兼容到n
$Rem:0%; //rem 比例 1% 1：100 ,viewprot 1:2,0 不处理

//size math rem(数值,单位,比例) size()
@function size($p, $u:px, $r:$Rem) {
    //rem 方案 ie9+
    @if $r>0{
        @return ($p*$r) + $u;
    }@else{
        //普通
        @return $p+$u;
    }
}

// container config 
$CMargin:size(15,px); //container容器
$FMarginBottom:size(10,px);//form 
$FPadding:size(6,px) size(12,px);
$FLine:1.5;
$FBg:#FFF;
$FBorder:1px solid #ced4da;
$FborderRadius:5px;
//font
// family
$F-F:'Microsoft YaHei',
Arial,
Helvetica,
sans-serif;
//default
$F-size_defaulet:szie(16); //font default
$F-size_min:size(12); //font small
//color btn
$Color:(red:#f00,blue:#39f,orange:#ff9600,green:green);
//标签  数组是从1开始的 引用nth($hs,1)
$H: h1,
h2,
h3,
h4,
h5,
h6;
// 常用标签
$All:body,
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
dl,
dt,
dd,
p,
span,
strong,
input,
select,
textarea;
//transition time 默认过渡时间
$TransitionTime:.3s;