// 栅格化布局
//生成css 代码块 flex 布局 ie10+
@mixin flex-bs($align:true, $display:true) {
    //弹性布局
    .flex-row,
    .flex {
        display: flex;
        flex-wrap: wrap;
    } //横排
    .flex--row {
        flex-direction: row;
    } // 竖排
    .flex--column {
        flex-direction: column;
    } //横排 但顺序相反
    .flex--row-reverse {
        flex-direction: row-reverse;
    } // 与 column 相同，但是以相反的顺序。
    .flex--column-reverse {
        flex-direction: column-reverse;
    } //抵消container padding
    .flex-row {
        margin-left: -$CMargin;
        margin-right: -$CMargin;
    } //去除边框
    .no-gutters {
        margin-left: 0;
        margin-right: 0;
    }
    .no-gutters>.col,
    .no-gutters>[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    } // 所有className 中保护 col-
    [class*="col-"] {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    } //自动填充
    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    } //默认当前大小
    .col--auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    @for $i from 1 to 12 {
        //$i到9
        .col--#{$i} {
            flex: percentage($i*(1/12));
            max-width: percentage($i*(1/12));
        } // 排位
        .order--#{$i} {
            order: $i;
        } // 间隔
        .offset--#{$i} {
            margin-left: percentage($i*(1/12));
        }
    } //排在第一个
    .order--first {
        order: -1;
    } //排在第最后一个
    .order--last {
        order: 13;
    }
    @if($align==true) {
        //水平
        // 对齐left
        .justify-content--start {
            justify-content: flex-start;
        } // 对齐right    
        .justify-content--end {
            justify-content: flex-end;
        } // 居中
        .justify-content--center {
            justify-content: center;
        } //之间(间隔等距离)
        .justify-content--between {
            justify-content: space-between;
        } //围绕
        .justify-content--around {
            justify-content: space-around;
        } //垂直方向
        // 上
        .align-items--start {
            align-items: flex-start;
        } //   中
        .align-items--end {
            align-items: flex-end;
        } //   下
        .align-items--center {
            align-items: center;
        } //第一行文字的基线对齐
        .align-items--baseline {
            align-items: baseline;
        } // 高度auto时默认添满
        .align-items--stretch {
            align-items: stretch;
        } // 容器内的各项没有占用交叉轴上所有可用的空间时对齐（垂直）
        //顶部
        .align-content--start {
            align-content: flex-start;
        } //底部
        .align-content--end {
            align-content: flex-end;
        } //居中
        .align-content--center {
            align-content: center;
        } //当中
        .align-content--between {
            align-content: space-between;
        }
        .align-content--around {
            align-content: space-around;
        }
        .align-content--stretch {
            align-content: stretch;
        } //单项垂直
        .align-self--auto {
            align-self: auto;
        }
        .align-self--start {
            align-self: flex-start;
        }
        .align-self--end {
            align-self: flex-end;
        }
        .align-self--center {
            align-self: center;
        }
        .align-self--baseline {
            align-self: baseline;
        }
        .align-self--stretch {
            align-self: stretch;
        }
    }
    @if($display==true) {
        //显示隐藏
        .d--none {
            display: none;
        }
        .d--inline {
            display: inline;
        }
        .d--inline-block {
            display: inline-block;
        }
        .d--block {
            display: block;
        }
        .d--table {
            display: table;
        }
        .d--table-row {
            display: table-row;
        }
        .d--table-cell {
            display: table-cell;
        }
        .d--flex {
            display: flex;
        }
        .d--inline-flex {
            display: inline-flex;
        }
    }
} //flex 响应
@mixin flex-bs-media($align: true, $display: true) {
    @each $w,
    $v in $WIN {
        @media (min-width: $v+px) {
            // 删栏
            .col-#{$w} {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }
            .col-#{$w}--auto {
                flex: 0 0 auto;
                width: auto;
                max-width: none;
            } //排版
            //横排
            .flex-#{$w}--row {
                flex-direction: row;
            } // 竖排
            .flex-#{$w}--column {
                flex-direction: column;
            } //横排 但顺序相反
            .flex-#{$w}--row-reverse {
                flex-direction: row-reverse;
            } // 与 column 相同，但是以相反的顺序。
            .flex-#{$w}--column-reverse {
                flex-direction: column-reverse;
            }
            @for $i from 1 to 12 {
                //$i到9
                .col-#{$w}--#{$i} {
                    flex: percentage($i*(1/12));
                    max-width: percentage($i*(1/12));
                }
                .order-#{$w}--#{$i} {
                    order: $i;
                }
                .offset-#{$w}--#{$i} {
                    margin-left: percentage($i*(1/12));
                }
            } //排在第一个
            .order-#{$w}--first {
                order: -1;
            } //排在第最后一个
            .order-#{$w}--last {
                order: 13;
            } //对齐
            @if($align==true) {
                //水平
                // 对齐left
                .justify-content-#{$w}--start {
                    justify-content: flex-start;
                } // 对齐right    
                .justify-content-#{$w}--end {
                    justify-content: flex-end;
                } // 居中
                .justify-content-#{$w}--center {
                    justify-content: center;
                } //之间(间隔等距离)
                .justify-content-#{$w}--between {
                    justify-content: space-between;
                } //围绕
                .justify-content-#{$w}--around {
                    justify-content: space-around;
                } //垂直方向
                // 上
                .align-items-#{$w}--start {
                    align-items: flex-start;
                } //   中
                .align-items-#{$w}--end {
                    align-items: flex-end;
                } //   下
                .align-items-#{$w}--center {
                    align-items: center;
                } //第一行文字的基线对齐
                .align-items-#{$w}--baseline {
                    align-items: baseline;
                } // 高度auto时默认添满
                .align-items-#{$w}--stretch {
                    align-items: stretch;
                } // 容器内的各项没有占用交叉轴上所有可用的空间时对齐（垂直）
                //顶部
                .align-content-#{$w}--start {
                    align-content: flex-start;
                } //底部
                .align-content-#{$w}--end {
                    align-content: flex-end;
                } //居中
                .align-content-#{$w}--center {
                    align-content: center;
                } //当中
                .align-content-#{$w}--between {
                    align-content: space-between;
                }
                .align-content-#{$w}--around {
                    align-content: space-around;
                }
                .align-content-#{$w}--stretch {
                    align-content: stretch;
                } //单项垂直
                .align-self-#{$w}--auto {
                    align-self: auto;
                }
                .align-self-#{$w}--start {
                    align-self: flex-start;
                }
                .align-self-#{$w}--end {
                    align-self: flex-end;
                }
                .align-self-#{$w}--center {
                    align-self: center;
                } //基线
                .align-self-#{$w}--baseline {
                    align-self: baseline;
                } //等高
                .align-self-#{$w}--stretch {
                    align-self: stretch;
                }
            }
            @if($display==true) {
                // 显示隐藏
                .d-#{$w}--none {
                    display: none;
                }
                .d-#{$w}--inline {
                    display: inline;
                }
                .d-#{$w}--inline-block {
                    display: inline-block;
                }
                .d-#{$w}--block {
                    display: block;
                }
                .d-#{$w}--table {
                    display: table;
                }
                .d-#{$w}--table-row {
                    display: table-row;
                }
                .d-#{$w}--table-cell {
                    display: table-cell;
                }
                .d-#{$w}--flex {
                    display: flex;
                }
                .d-#{$w}--inline-flex {
                    display: inline-flex;
                } 
            } // 显示隐藏 end
        }//media flex end 
    }
}