/**
*@file 焦点提示框
*@author qiu(423822728@qq.com)
*/

.focus-tip{
    position: absolute;
    /*作为初始化高度*/
    right: 15px;
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
    width: 200px;
    /*加入动画过渡*/
    opacity: 0;
    pointer-events: none;
    transition: all .3s ;
    -webkit-transition: all .3s;
    z-index: 999;
    border-radius:5px 
}
/* 显示效果 */
.focus-tip.isshow{
    opacity: 1;
    pointer-events: auto;
}
.focus-t-con,
.focus-t-top{
    padding: 10px;
    white-space:pre-wrap;
}
.focus-t-top{
    background: #2aabed;
    color: #fff;
}