@import "~./_common.scss";
/*index.css*/

h1 {
    border: 1px solid #fcc;
}

body
{
    /*'/'根目录  */
    background-image: url('../img/girl2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top right ;
    background-attachment:fixed;
}