@import "~./_common.scss";  

/*login.css*/
h1{
    border:1px solid #fcc;
}
body{
   background-color: #f3f3f3;

}

.mask{
    @include mask-bg();
}

.loading{
    width: 30px;
    height: 30px;
    @include position-mid();
    @include icon-loading();
}
.close{
    width: 30px;
    height: 30px;
    border :1px solid #fcc;
    @include icon-close-btn();

}