@import "~./_common.scss";  



//my.css
 

#{$all} {
	margin: 0;
	padding: 0;
}

* {
	outline: 0 !important;
}

#{$hs}{
	font-weight:normal; 
}
button,
input[type=radio],
input[type=checkbox],
a {
	cursor: pointer;
}

a {
	text-decoration: none;
	background: transparent;
	color: inherit;
	font-size: inherit
}

a img {
	border: 0 none;
}

ul {
	list-style: none;
}


html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

audio,
canvas,
progress,
video,
.row {
	display: inline-block;
	vertical-align: baseline;
}

*,
*:after,
*:before {
	box-sizing: inherit;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
}

.row {
	clear: both;
	width: 100%;
}

*:after {
	content: '';
	clear: both;
	height: 0;
}


/*font*/

.small {
	font-size: $f-sm;
}

.normal {
	font-weight: normal;
}

.bold {
	font-weight: 700;
}

.f-blue {
	color: $blue;
}

.f-red {
	color:$red;
}

.f-orange {
	color:$orange;
}
.f-green{
	color: $green
}

/*container*/

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}
.block{
	display: block;
}
.none{
	display: none;
}

@if $mobile == true {
	.container{
		margin-left:15px;
		margin-right:15px; 
	}
    
} 
/*page*/
body{
	font-family: $f-style;
	font-size: size(14,px);
}

