@import "~./_common.scss";
//my.css
//基础标签
#{$All} {
    margin: 0;
    padding: 0;
}

* {
    outline: 0;
}
//h标签
#{$H} {
    font-weight: normal;
}

button,
input[type=radio],
input[type=checkbox],
a {
    cursor: pointer;
}

a {
    text-decoration: none;
    background: transparent;
    color: inherit;
    font-size: inherit
}

a img {
    border: 0 none;
}

html {
    box-sizing: border-box;
}

audio,
canvas,
progress,
video,
    {
    display: inline-block;
    vertical-align: baseline;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

//去浮动
*:after {
    content: '';
    clear: both;
    height: 0;
}

small {
    font-size: 80%;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
textarea {
    overflow: auto;
    resize: vertical;
  }

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*page*/

body {
    font-family: $F-F;
    font-size: size(14, px);
}

// 基础容器
@include container-bs();
//对齐弹性布局
@include align-bs();
//对齐响应式弹性布局
@include align-bs-media();
//表单
@include form-bs();
//响应式 表单
@include form-bs-media();
//加载图标
.block-loading {
    @include icon-loading();
}
//三角形图标
.block-sjx {
    @include icon-sjx();
}
//列表图标
.block-list {
    @include icon-list();
}
//关闭图标
.block-close {
    @include icon-close();
}
//更多图标
.block-more {
    @include icon-more();
}
//list to close
.btn-close {
    appearance: none;
    padding: 0;
    margin: 0;
    border: 0 none;
    @include btn-icon-close();
}