@import "~./_common.scss";
//my.css
#{$All} {
    margin: 0;
    padding: 0;
}

* {
    outline: 0 !important;
}

#{$H} {
    font-weight: normal;
}

button,
input[type=radio],
input[type=checkbox],
a {
    cursor: pointer;
}

a {
    text-decoration: none;
    background: transparent;
    color: inherit;
    font-size: inherit
}

a img {
    border: 0 none;
}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

audio,
canvas,
progress,
video,
{
    display: inline-block;
    vertical-align: baseline;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}
//去浮动
*:after {
	content: '';
	clear: both;
	height: 0;
}


/*page*/

body {
    font-family: $F-F;
    font-size: size(14, px);
}
@include container();
@include css-flex();
@include css-flex-media();

ul{
    button{
        @include icon-loading();
    }
}