//SPA 页面所需的元素
@import "~./_common.scss"; //引入sass 依赖 webapck ~
//添加过渡动画 *-enter-active 进入过渡状态 *-leave-active 离开过渡状态
//进入开始效果, 离开结束效果 *-enter ，*-leave
//开始结束效果，进入开始效果 *-enter-to ,*-leave-to
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.child-view {
    position: absolute;
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
}