<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
    <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
</head>
<style>
    body {

        font-size: 16px;
    }

    .page {
        /* height: 1000px; */
        padding-top: 80px;
    }

    td {
        font-size: 40px;
        background: linear-gradient(to bottom, white, black);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    input {
        padding: 10px;
        border: 1px solid #ccc;
        height: 40px;
    }
</style>

<body>
    <div class="page">
        <fieldset>
            <legend>仿网易云搜索</legend>
            <input type="search" id="search" placeholder="内容搜索">
        </fieldset>
        <fieldset class="">
            <legend>焦点提示框</legend>
            <input type="search" id="tip" data-title='说明' data-content="内容" placeholder="焦点提示框">
        </fieldset>
        <fieldset>
            <legend>弹幕视频</legend>
            <div id="player1"></div>
        </fieldset>
        <fieldset>
            <legend>html 转 pdf
                <button type="button" class="sub">保存</button>
            </legend>
            <div class="pdf-wrapper con">
                <p>
                    Just as higher states of energy seek a lower level, the Spectre known as Mercurial is a being of intense and violent energy
                    who finds herself irresistibly drawn to scenes of strife as they unfold in the physical world. While
                    her normal spectral state transcends sensory limitations, each time she takes on a physical manifestation,
                    she is stricken by a loss of self--though not of purpose. In the clash of combat, her identity shatters
                    and reconfigures, and she begins to regain awareness. She grasps that she is Mercurial the Spectre--and
                    that all of her Haunts are but shadows of the one true Spectre. Focus comes in the struggle for survival;
                    her true mind reasserts itself; until in the final moments of victory or defeat, she transcends matter
                    and is restored once more to her eternal form.
                </p>
                <p>
                    和所有强大的能量都喜欢欺凌弱小一样，被称为墨丘利的幽鬼也是一个拥有着强横能量的存在，同样的，她对现实世界中的冲突和纷争无比着迷。然而她平时的幽鬼形态超越了常人的感知范围，因此每当她以实体形态出现时，她不得不损失一部分自我能量——尽管她也不愿意。在战斗中，她的自我意识逐渐散落并重新聚合，她也开始有了意识。她意识到了自己是幽鬼墨丘利——其他所有的鬼影都只是她自我的阴影。出于重新凝聚的打算，她开始专注，她的心智也在不断的成熟。只有等到她取得胜利或者彻底失败时，她那超物质的形态才会得以重聚。
                </p>
                <img src="<%= require(`assets/img/big.png`) %>" alt="">
                <p>
                    Just as higher states of energy seek a lower level, the Spectre known as Mercurial is a being of intense and violent energy
                    who finds herself irresistibly drawn to scenes of strife as they unfold in the physical world. While
                    her normal spectral state transcends sensory limitations, each time she takes on a physical manifestation,
                    she is stricken by a loss of self--though not of purpose. In the clash of combat, her identity shatters
                    and reconfigures, and she begins to regain awareness. She grasps that she is Mercurial the Spectre--and
                    that all of her Haunts are but shadows of the one true Spectre. Focus comes in the struggle for survival;
                    her true mind reasserts itself; until in the final moments of victory or defeat, she transcends matter
                    and is restored once more to her eternal form.
                </p>
                <p>
                    和所有强大的能量都喜欢欺凌弱小一样，被称为墨丘利的幽鬼也是一个拥有着强横能量的存在，同样的，她对现实世界中的冲突和纷争无比着迷。然而她平时的幽鬼形态超越了常人的感知范围，因此每当她以实体形态出现时，她不得不损失一部分自我能量——尽管她也不愿意。在战斗中，她的自我意识逐渐散落并重新聚合，她也开始有了意识。她意识到了自己是幽鬼墨丘利——其他所有的鬼影都只是她自我的阴影。出于重新凝聚的打算，她开始专注，她的心智也在不断的成熟。只有等到她取得胜利或者彻底失败时，她那超物质的形态才会得以重聚。
                </p>
                <img src="<%= require(`assets/img/big.png`) %>" alt="">
                <p>
                    Just as higher states of energy seek a lower level, the Spectre known as Mercurial is a being of intense and violent energy
                    who finds herself irresistibly drawn to scenes of strife as they unfold in the physical world. While
                    her normal spectral state transcends sensory limitations, each time she takes on a physical manifestation,
                    she is stricken by a loss of self--though not of purpose. In the clash of combat, her identity shatters
                    and reconfigures, and she begins to regain awareness. She grasps that she is Mercurial the Spectre--and
                    that all of her Haunts are but shadows of the one true Spectre. Focus comes in the struggle for survival;
                    her true mind reasserts itself; until in the final moments of victory or defeat, she transcends matter
                    and is restored once more to her eternal form.
                </p>
                <p>
                    和所有强大的能量都喜欢欺凌弱小一样，被称为墨丘利的幽鬼也是一个拥有着强横能量的存在，同样的，她对现实世界中的冲突和纷争无比着迷。然而她平时的幽鬼形态超越了常人的感知范围，因此每当她以实体形态出现时，她不得不损失一部分自我能量——尽管她也不愿意。在战斗中，她的自我意识逐渐散落并重新聚合，她也开始有了意识。她意识到了自己是幽鬼墨丘利——其他所有的鬼影都只是她自我的阴影。出于重新凝聚的打算，她开始专注，她的心智也在不断的成熟。只有等到她取得胜利或者彻底失败时，她那超物质的形态才会得以重聚。
                </p>
                <img src="<%= require(`assets/img/big.png`) %>" alt="">
                <p>
                    Just as higher states of energy seek a lower level, the Spectre known as Mercurial is a being of intense and violent energy
                    who finds herself irresistibly drawn to scenes of strife as they unfold in the physical world. While
                    her normal spectral state transcends sensory limitations, each time she takes on a physical manifestation,
                    she is stricken by a loss of self--though not of purpose. In the clash of combat, her identity shatters
                    and reconfigures, and she begins to regain awareness. She grasps that she is Mercurial the Spectre--and
                    that all of her Haunts are but shadows of the one true Spectre. Focus comes in the struggle for survival;
                    her true mind reasserts itself; until in the final moments of victory or defeat, she transcends matter
                    and is restored once more to her eternal form.
                </p>
                <p>
                    和所有强大的能量都喜欢欺凌弱小一样，被称为墨丘利的幽鬼也是一个拥有着强横能量的存在，同样的，她对现实世界中的冲突和纷争无比着迷。然而她平时的幽鬼形态超越了常人的感知范围，因此每当她以实体形态出现时，她不得不损失一部分自我能量——尽管她也不愿意。在战斗中，她的自我意识逐渐散落并重新聚合，她也开始有了意识。她意识到了自己是幽鬼墨丘利——其他所有的鬼影都只是她自我的阴影。出于重新凝聚的打算，她开始专注，她的心智也在不断的成熟。只有等到她取得胜利或者彻底失败时，她那超物质的形态才会得以重聚。
                </p>
                <img src="<%= require(`assets/img/big.png`) %>" alt="">
            </div>
            <!-- <script src="/assets/js/cpdf.js"></script> -->
        </fieldset>
        <fieldset class="pdf-wrapper">
            <legend>焦点提示框</legend>
            <input type="search"  data-title='说明' data-content="内容" placeholder="焦点提示框">
        </fieldset>
    </div>
    <!-- <% if(!htmlWebpackPlugin.options.env){ %>
    <!-- 页面自动刷新 -->
    <!-- <script src="http://localhost:35729/livereload.js"></script> -->
    <!-- <%}%> -->
</body>

</html>