<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
</head>

<body>
    <input type="file" id="file" />
    <p></p>
    <fieldset>
        <legend>excel导出</legend>
        <table id="ta">
            <tr>
                <td>1</td>
                <td>admin</td>
                <td>23</td>
                <td>程序员</td>
                <td>天津</td>
                <td>admin@kali.com</td>
            </tr>
            <tr>
                <td>2</td>
                <td>guest</td>
                <td>23</td>
                <td>测试员</td>
                <td>北京</td>
                <td>guest@kali.com</td>
            </tr>
        </table>
        <input id="Button1" type="button" value="导出EXCEL" />
    </fieldset>


    <% if(!htmlWebpackPlugin.options.env){ %>
        <!-- 页面自动刷新 -->
        <script src="http://localhost:35729/livereload.js"></script>
        <%}%>
</body>

</html>