<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
    <style>
        td {
            font-size: 40px;
            background: linear-gradient(to bottom, white, black);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    </style>
</head>

<body>


    <script>
        var img = new Image();

        img.src = 'http://upload.jianshu.io/users/upload_avatars/7546905/78074ab0-e638-4658-9cd1-9cbc96ed1453?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120';

        img.onload = function (e) {
            // console.log('图片加载成功', e)
        }
        img.onerror = function (e) {
            console.log('图片加载失败', e)

        }
        document.body.appendChild(img)
    </script>
    <% if(!htmlWebpackPlugin.options.env){ %>
        <!-- 页面自动刷新 -->
        <script src="http://localhost:35729/livereload.js"></script>
        <%}%>
</body>

</html>