<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
</head>
<style>
    body {

        font-size: 16px;
    }

    .page {
        /* height: 1000px; */
        padding-top: 80px;
    }

    td {
        font-size: 40px;
        background: linear-gradient(to bottom, white, black);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    input {
        padding: 10px;
        border: 1px solid #ccc;
        height: 40px;
    }
</style>

<body>
    <div class="page">
        <fieldset>
            <legend>仿网易云搜索</legend>
            <input type="search" id="search" placeholder="内容搜索">
        </fieldset>
        <fieldset class="">
            <legend>焦点提示框</legend>
            <input type="search" id="tip" data-title='说明' data-content="内容" placeholder="焦点提示框">
        </fieldset>
        <fieldset>
            <legend>弹幕视频</legend>
            <div id="player1"></div>
        </fieldset>
        <fieldset>
            <legend>html 转 pdf
                <button type="button" class="sub">保存</button>
            </legend>
        </fieldset>
        <fieldset>
            <form id="form">
            <legend>html 转 pdf
                <button type="button" class="sub">保存</button>
            </legend>
                <input type="text" value="filename" />
                <input type="file" />
            </form>
        </fieldset>
        <fieldset class="pdf-wrapper">
            <legend>焦点提示框</legend>
            <input type="search" data-title='说明' data-content="内容" placeholder="焦点提示框">
        </fieldset>
    </div>
    <!-- <% if(!htmlWebpackPlugin.options.env){ %>
    <!-- 页面自动刷新 -->
    <!-- <script src="http://localhost:35729/livereload.js"></script> -->
    <!-- <%}%> -->
</body>

</html>