<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
</head>

<body>
    <style>
        section {
            width: 100%;
        }

        div {
            height: 50px;
            float: left;
            background: #f00;
        }

        div:nth-of-type(even) {
            background: #ff0;
        }

        .w {
            width: 100%;
        }

        .left,
        .right {
            width: 50%;
        }

        .left {
            height: 100px;
        }
    </style>
    <h1>demo</h1>
    <section>
        <div class="w"></div>
        <div class="w"></div>
        <div class="left"></div>
        <div class="right"></div>

        <div class="right"></div>

        <% if(!htmlWebpackPlugin.options.env){ %>
            <!-- 页面自动刷新 -->
            <script src="http://localhost:35729/livereload.js"></script>
            <%}%>
    </section>
</body>

</html>