<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= require(`../common/_meta.html`)  %>
        <title>webpack 多页应用</title>
</head>

<body>
    <h1>webpack 多页应用</h1>
    <ol>
        <li>集成了js、css、img压缩</li>
        <li>编译es6、sass、vue</li>
        <li>自动添浏览器前缀postcss</li>
        <li>资源小于100时自动嵌入</li>
        <li>修改webpack.config自动重启webpack（$ npm start），js热更新，页面需改自动刷新 http://localhost:35729/livereload.js</li>
    </ol>
    <h2>图片引入</h2>
    <div class="box">
        <!-- 引入图片 -->
        <img src="<%= require(`assets/img/big.png`) %>" alt="">
    </div>
    <h2>vue引入</h2>
    <div id="app"></div>
    <% if(!htmlWebpackPlugin.options.env){ %>
        <!-- 页面自动刷新 -->
        <script src="http://localhost:35729/livereload.js"></script>
        <%}%>
</body>

</html>