<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= require(`../common/_meta.html`)  %>
        <title>webpack 多页应用</title>
</head>

<body>
    <h1>webpack 多页应用</h1>
    <ol>
        <li>集成了js、css、img压缩</li>
        <li class="o">编译es6、sass、vue</li>
        <li>自动添浏览器前缀postcss</li>
        <li>资源小于100时自动嵌入</li>
        <li>修改webpack.config自动重启webpack（$ npm start），js热更新，页面需改自动刷新 http://localhost:35729/livereload.js</li>
    </ol>

    <h3>图片引入</h3>
    <div class="box" style="width: 200px">
        <!-- 引入图片 -->
        <img class="img-fluid" src="<%= require(`assets/img/big.png`) %>" alt="">
    </div>
    <h3>vue引入</h3>
    <div id="app"></div>
    <div class="container">
        <fieldset >
            <legend>css demo</legend>
            <p>css 引入BEM 思想 方面定制和管理css</p>

            <h4>col 删栏布局</h4>
            <style>
                .col:nth-of-type(odd){
                    background: #f33;
                }
                .col:nth-of-type(even){
                    background: #ff3;
                }
            </style>
            <div class="flex">
                <div class="col col-sm_4 order_last">1</div>
                <div class="col col-sm_4">2</div>
                <div class="col col-sm_4">3</div>
                <div class="col col-sm_4">4</div>
                <div class="col col-sm_4">5</div>
                <div class="col col-sm_4">6</div>
                <div class="col col-sm_4">7</div>
                <div class="col col-sm_4">8</div>
                <div class="col col-sm_4">9</div>
                <div class="col col-sm_4">10</div>
                <div class="col col-sm_4">11</div>
                <div class="col col-sm_4">12</div>
            </div>

    
        </fieldset>
    </div>

    <!-- <% if(!htmlWebpackPlugin.options.env){ %> -->
    <!-- 页面自动刷新 -->
    <!-- <script src="http://localhost:35729/livereload.js"></script> -->
    <!-- <%}%> -->
</body>

</html>