<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>VUE SPA</title>
		<!-- 声明文档使用的字符编码 -->
		<meta charset='utf-8'>
		  <%= require(`../common/_meta.html`) %>
	</head>

	<body>
		<section id="app"></section>
	</body>

</html>