<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>login</title>
  <%= require(`../../common/_meta.html`) %>
    <!--嵌入页面-->
</head>

<body>
  <h1>login</h1>
  <div id="app"></div>
  <!--嵌入图片-->
  <img src="<%= require(`assets/img/logo_green.png`) %>" alt="">
  <a href="index.html">index</a>
</body>

</html>